/*
Colors
#c2c2c2;
#BF3939
#D99484
#F26A4B
#1E1E26
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #c2c2c2;
}

/* Navbar */
.navbar {
  background-color: #1e1e26;
  color: #c2c2c2;
  padding: 1rem 0;
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
}

/* Canvas */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  border-left: 3px solid #1e1e26;
  border-right: 3px solid #1e1e26;

  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.settings button {
  background-color: #d99484;
  color: #fff;
  border: 2px solid #1e1e26;
  font-size: 1.5rem;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 2rem;
  position: relative;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
}

.settings button:after {
  background-color: #1e1e26;
  border-radius: 8px;
  content: "";
  display: block;
  height: 60px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.settings button:hover:after {
  transform: translate(0, 0);
}

.settings button:active {
  background-color: #fff;
  color: #d99484;
  outline: 0;
}

.settings button:hover {
  outline: 0;
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.slider .slider-text {
  align-self: center;
  font-size: 2rem;
  color: #f26a4b;
}

.slider .size-slider {
  appearance: none;
  height: 25px;
  background-color: #d99484;
  outline: none;
  border-radius: 1rem;
  opacity: 0.7;
  transition: 0.2s;
}

.slider .size-slider:hover {
  opacity: 1;
}

.slider .size-slider::-webkit-slider-thumb {
  appearance: none;
  border: 1px solid black;
  width: 15px;
  height: 25px;
  border-radius: 3px;
  background: #bf3939;
  box-shadow: 1px 1px 1px black, 0px 0px 1px black;
  cursor: pointer;
}

.slider .size-slider::-moz-range-thumb {
  border: 1px solid black;
  width: 15px;
  height: 25px;
  border-radius: 3px;
  background: #bf3939;
  box-shadow: 1px 1px 1px black, 0px 0px 1px black;
  cursor: pointer;
}

.canvas {
  flex-shrink: 0;
  width: 500px;
  height: 500px;
}
