/*
Colors
#e7dbd8;
#BF3939
#D99484
#F26A4B not used
#1E1E26
*/
:root {
  --randomColors-zIndex: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #e7dbd8;
}

/* Navbar */
.navbar {
  background-color: #1e1e26;
  color: lavender;
  padding: 1rem 0;
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
}

/* Canvas */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  border-left: 3px solid #1e1e26;
  border-right: 3px solid #1e1e26;

  display: flex;
  justify-content: space-between;

  gap: 2rem;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.settings button {
  background-color: #d99484;
  color: #fff;
  border: 2px solid #1e1e26;
  font-size: 1.5rem;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
  position: relative;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
}

.settings button:after {
  background-color: #1e1e26;
  border-radius: 8px;
  content: "";
  display: block;
  height: 4rem;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.settings button:hover:after {
  transform: translate(0, 0);
}

.settings button:active {
  background-color: #fff;
  color: #d99484;
  outline: 0;
}

.settings button:hover {
  outline: 0;
}

.settings .random-colors .text {
  z-index: 1;
  font-weight: bold;
}

.settings .random-colors:active {
  background-color: #fff;
  color: #1e1e26;
}

.settings .random-colors:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  z-index: var(--randomColors-zIndex);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 60s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.color-pallette {
  align-self: center;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
}

.color-pallette div {
  width: 32px;
  height: 32px;
  border: 2px solid black;
  border-radius: 0.5rem;
}

.color-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.color-info .current-color-text {
  background-color: #d99484;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
}

.color-info .current-color {
  display: flex;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 12px;
}

.color-info .current-color:before {
  content: "";
  background: linear-gradient(
    60deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  z-index: var(--randomColors-zIndex);
  background-size: 1200%;
  width: calc(100%);
  height: calc(100%);
  animation: glowing-button-85 60s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.slider .slider-text {
  align-self: center;
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #d99484;
}

.slider .size-slider {
  appearance: none;
  height: 25px;
  background-color: #d99484;
  outline: none;
  border-radius: 1rem;
  opacity: 0.7;
  transition: 0.2s;
}

.slider .size-slider:hover {
  opacity: 1;
}

.slider .size-slider::-webkit-slider-thumb {
  appearance: none;
  border: 1px solid black;
  width: 15px;
  height: 25px;
  border-radius: 3px;
  background: #bf3939;
  box-shadow: 1px 1px 1px black, 0px 0px 1px black;
  cursor: pointer;
}

.slider .size-slider::-moz-range-thumb {
  border: 1px solid black;
  width: 15px;
  height: 25px;
  border-radius: 3px;
  background: #bf3939;
  box-shadow: 1px 1px 1px black, 0px 0px 1px black;
  cursor: pointer;
}

.canvas-section {
  width: 600px;
}

.canvas-section .mode-text-bg {
  background-color: #1e1e26;
  padding: 1rem 0;
  border: 1px solid black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.canvas-section .mode-text {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.mode-text-anim {
  animation: 0.5s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 850px) {
  .container {
    flex-direction: column-reverse;
  }

  .container .canvas-section {
    align-self: center;
  }
}
