/*
Colors
#c2c2c2;
#BF3939
#D99484
#F26A4B
#1E1E26
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #c2c2c2;
}

/* Navbar */
.navbar {
  background-color: #1e1e26;
  color: #c2c2c2;
  padding: 1rem 0;
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
}

/* Canvas */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  border-left: 3px solid #1e1e26;
  border-right: 3px solid #1e1e26;

  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.settings button {
  padding: 1rem 2rem;
}

.canvas {
  flex-shrink: 0;
  width: 500px;
  height: 500px;

  display: flex;
  flex-wrap: wrap;
}
